{% extends "base.html" %}
{% block title %}password reset{% endblock %}
{% block content %}
<h1>forgotten your password</h1>
<p>Enter your email to reset new password</p>
<div class="row text-center">
<form class="form-horizontal" action="." method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="col-md-5 control-label text-right">Email</label>
        <div class="col-md-6 text-left" >{{ form.email }}</div>
    </div>
    <input type="submit" value="sendmail" class="btn btn-primary btn-lg">
</form>
</div>
{% endblock %}
